#home-wrapper {
  color: white;
  height: 30em;
}

#welcome-bar {
  font-size: 40px;
  margin-bottom: 3.5em;
}

#lockers-information {
  border: 1px solid white;
  min-width: 5rem;
  opacity: 0.6;
  color: rgba(12, 12, 12, 0.781);
  background-color: white;
  border-radius: 5%;
  -webkit-box-shadow: 10px 0px 95px -5px rgba(255,255,255,1);
  -moz-box-shadow: 10px 0px 95px -5px rgba(255,255,255,1);
  box-shadow: 10px 0px 95px -5px rgba(255,255,255,1);
}

.lockers-information-part {
  font-size: 2em;
}

#lockers-available>button {
  font-size: 6em;
  height: 4em;
}
