<div id="home-wrapper" fxFlex fxLayout="column" fxLayoutAlign="center center">
  <h1 id="welcome-bar">
    Welcome <u>{{ currentUser }}</u>
  </h1>
  <div id="lockers-information" fxFlex fxLayout="column" fxLayoutAlign="center center">
    <div fxFlex fxLayoutAlign="center start" class="lockers-information-part">
      There are
    </div>
    <div id="lockers-available">
      {{ availableLockers }}
    </div>
    <div fxFlex fxLayoutAlign="center end"  class="lockers-information-part">
      lockers available
    </div>
  </div>
</div>
