<div id="home-wrapper" fxFlex fxLayout="column" fxLayoutAlign="center center">
  <div
    id="lockers-information"
    fxFlex
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <div  fxLayout="column">
      <div  fxLayoutAlign="center center" class="lockers-information-part">
        There are
      </div>
      <div  fxLayoutAlign="center center" id="lockers-available">
        <button mat-button (click)="fireGetLockers()">
          {{ availableLockers }}
        </button>
      </div>
      <div  fxLayoutAlign="center center" class="lockers-information-part">
        lockers available
      </div>
    </div>
  </div>

  <ngx-spinner
    bdOpacity="0.9"
    bdColor="#333"
    size="medium"
    color="#fff"
    type="square-jelly-box"
    name="homeSpinner"
    [fullScreen]="true"
  >
    <p style="color: white">Please wait...</p>
  </ngx-spinner>
