#admin-wrapper {
  color: white;
}
#tab-group {

}

.tab-content {
}

.action-select {
  width: 60%;
}

.not-authorized {
  background-color: white;
  color: black;
}

#user-wrapper {
  width: 100%;
}

.not-authorized > h2 {
  padding: 1em;
  border: 1px solid black;
}
.chart-wrapper {
  background-color: white;
}

.right-group {

}

.small-width {
  width: 3em;
}
