#admin-wrapper {
  color: white;
  height: 30em;
  margin-top: 5em;
}

.tab-content {
  height: 100%;
  width: 100%;
}

#action-select {
  width: 60%;
}

.chart-wrapper {
  background-color: white;
}
