<div id="admin-wrapper" fxLayout="column" fxLayoutAlign="start center">
  <mat-tab-group id='tab-group' [backgroundColor]="'accent'">
    <mat-tab class="tab-content" label="Keys">
      <mat-table [dataSource]="this.lockers">
        <ng-container matColumnDef="Number">
          <mat-header-cell fxFlex fxLayoutAlign="center center" *matHeaderCellDef>Number</mat-header-cell>
          <mat-cell fxFlex fxLayoutAlign="center center" *matCellDef="let locker">
            {{ locker.id }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="State">
          <mat-header-cell fxFlex fxLayoutAlign="center center" *matHeaderCellDef>State</mat-header-cell>
          <mat-cell fxFlex fxLayoutAlign="center center" *matCellDef="let locker">
            {{ statesMap[locker.state] }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Action">
          <mat-header-cell fxFlex fxLayoutAlign="center center" *matHeaderCellDef>Action</mat-header-cell>
          <mat-cell fxFlex fxLayoutAlign="center center" *matCellDef="let locker">
            <mat-form-field id="action-select">
            <mat-select #select>
              <mat-option value="1">Unlock</mat-option>
              <mat-option value="2">Lock</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-icon-button (click)="this.updateLocker(locker.id, select.value)"><mat-icon>check</mat-icon></button>
        </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="managementTabs"></mat-header-row>
        <mat-row *matRowDef="let row; columns: managementTabs"></mat-row>
      </mat-table>
    </mat-tab>
    <mat-tab class="tab-content" label="Errors"> Content 2 </mat-tab>
    <mat-tab class="tab-content" label="Users">
      <mat-table [dataSource]="this.users">
        <ng-container matColumnDef="User">
          <mat-header-cell [ngClass]="'small-width'" color="'accent'" fxFlex="25%" fxLayoutAlign="center center" *matHeaderCellDef>User</mat-header-cell>
          <mat-cell [ngClass]="'small-width'" fxFlex="25%" fxLayoutAlign="center center" *matCellDef="let user">
            {{user.login + ' (' + rightsMatrixMap[user.type] + ')'}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Rights">
          <mat-header-cell fxFlex fxLayoutAlign="center center" *matHeaderCellDef>Rights edit</mat-header-cell>
          <mat-cell fxFlex fxLayoutAlign="center center" *matCellDef="let user">
              <mat-radio-group fxLayout="row">
                <div *ngFor="let right of rightsMatrix" fxLayout="column" fxLayoutAlign="center center" [ngClass]="'right-group'">
                  <mat-radio-button #radio [color]="'primary'"  [value]="right.id">{{right.name}}</mat-radio-button>
                </div>
              </mat-radio-group>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Action">
          <mat-header-cell [ngClass]="'small-width'" color="'accent'" fxFlex="25%" fxLayoutAlign="center center" *matHeaderCellDef></mat-header-cell>
          <mat-cell [ngClass]="'small-width'" fxFlex="25%" fxLayoutAlign="center center" *matCellDef="let user">
            <button mat-icon-button (click)="this.updateUserType(user.id, radio.value)"><mat-icon>check</mat-icon></button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="usersTabs"></mat-header-row>
        <mat-row *matRowDef="let row; columns: usersTabs"></mat-row>
      </mat-table>
    </mat-tab>
    <mat-tab class="tab-content" label="Charts">
      <div class="chart-wrapper">
        <canvas baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType">
      </canvas>
    </div>
    </mat-tab>
  </mat-tab-group>
</div>
