.randomColor() {
  @r: `Math.random() * 255`;
  @g: `Math.random() * 255`;
  @b: `Math.random() * 255`;
  @color: (rgb(@r, @g, @b));
  background-color: @color;
}


#header {
  color: white;
  font-weight: bold;
  letter-spacing: 0.15em;
  min-height: 80px;
  padding: 0;
  background-color: #3A243B;
}

.nav-item {
  transform: scale(1.8);
}

#header-nav {
  padding: 0;
}

#logged-as {
  margin-left: 2em;
  margin-right: 2em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  box-shadow: azure 0px 1px 7px 3px;
  opacity: 0.7;
  .randomColor();
}

#logged-as:hover {
  box-shadow: azure 0px 1px 10px 6px;
  cursor: pointer;
}

#user-text {
  filter: invert(100%);
  font-style: italic;
  font-size: 1.5em;
}
